# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build folders
dist/
build/

# Dependency directories
jspm_packages/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Coverage
coverage/
